/*Exercicio 1*/
.tower-group-1 {
    display: flex;
    justify-content: center;
} 

/*Exercicio 2*/
.tower-group-1 {
    display: flex;
    justify-content: flex-end;
}
.tower-group-2 {
    display: flex;
    justify-content: center;
}
.tower-group-3 {
    display: flex;
    justify-content: flex-end;
} 

/*exercicio 3*/
.tower-group-1 {
    display: flex;
    justify-content: center;
}
.tower-group-2 {
    display: flex;
    justify-content: space-between;
} 

/*exercicio 4*/
.tower-group-1 {
    display: flex;
    align-items: flex-end;
}
.tower-group-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
} 

/*exercicio 5*/
.tower-group-1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.tower-group-2 {
    display: flex;
    justify-content: space-around;
}
.tower-group-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

/*Exercicio 6*/
.tower-group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Exercicio 7*/
.tower-group-1 {
    display: flex;
    flex-direction: column;
}
.tower-group-2 {
    display: flex;
    flex-direction: column;
} 

/*Exercicio 8*/
.tower-group-1 {
    display: flex;
    flex-direction: column;
}
.tower-group-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

/*Exercicio 9*/
.tower-group-1 {
    display: flex;
    justify-content: space-around;
}
.tower-group-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 