<html>
  <head>
    <title>Detalhes</title>
  </head>
  <body>
    <div style="background-color: antiquewhite">
      <!-- 3.7 - Já aproveita e renderiza os dados individualmente -->
      <h2>Id: <%= id %> Nome:<%= name %> - Idade: <%= age %></h2>
    </div>

    <a href='/cats'>Voltar</a>
  </body>
</html>