/*exercicio 9*/
#pond {
    display: flex;
  }
  
  .yellow {
    order: 1;
  }

  /*exercicio 10*/
  #pond {
    display: flex;
  }
  
  .red {
    order: -1;
  }

  /*exercicio 16*/
  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end;
  }

  /*exercicio 17*/
  #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self: flex-end;
  order: 1;
  }

  /*exercicio 18*/
  #pond {
    display: flex;
    flex-wrap: wrap;
  }

  /*exercicio 19 - notar que ao usar o column a ordem muda*/
  #pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /*exercicio 20*/
  #pond {
    display: flex;
     flex-flow: column wrap;
  }

  /*exercicio 21*/
  #pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  /*exercicio 22*/
  #pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  /*exercicio 23*/
  #pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
  }

  /*exercicio 24*/
  #pond {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between; 
  }