<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Piadas do Coringa
    </title>
  </head>
  <body>
    <h3>Piadas do Coringa</h3>
    <p> <%= jokes %> </p>
  </body>
</html>