/*exercicio 1*/

#pond {
    display: flex;
    justify-content: flex-end;
  };

  /*exercicio 2*/
  #pond {
    display: flex;
    justify-content: center; 
  };

  /*exercicio 3*/
  #pond {
    display: flex;
    justify-content: space-around;
  };

  /*exercicio 4*/
  #pond {
    display: flex;
    justify-content: space-between;
  };

  /*exercicio 5*/
  #pond {
    display: flex;
    align-items: flex-end;
  };

  /*exercicio 6*/
  #pond {
    display: flex;
    justify-content: center;
    align-items: center;
  };

  /*exercicio 7*/
  #pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  };

  /*exercicio 8*/
  #pond {
    display: flex;
    flex-direction: row-reverse;
  };

  /*exercicio 9*/
  #pond {
    display: flex;
    flex-direction: column;
  };

  /*exercicio 10*/
  #pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  };

  /*exercicio 11*/
  #pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  };

  /*exercicio 12*/
  #pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  };

  /*exercicio 13*/
  #pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  };